In [8]:
import numpy as np
import pandas as pd

In [10]:
df = pd.read_pickle(r'C:\Users\Almog\Desktop\Data Science\Projects\Bank Marketing Project\Pickle files\FE_bm.pkl')
df

,age,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y,...,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed,poutcome_nonexistent,poutcome_success,education_encoded,default_encoded,housing_encoded,loan_encoded
0,56,1,-1,0,1.1,93.994,-36.4,4.857,5191,0,...,1.0,0.0,0.0,0.0,1.0,0.0,2,0,0,0
1,57,1,-1,0,1.1,93.994,-36.4,4.857,5191,0,...,1.0,0.0,0.0,0.0,1.0,0.0,5,-1,0,0
2,37,1,-1,0,1.1,93.994,-36.4,4.857,5191,0,...,1.0,0.0,0.0,0.0,1.0,0.0,5,0,1,0
3,40,1,-1,0,1.1,93.994,-36.4,4.857,5191,0,...,1.0,0.0,0.0,0.0,1.0,0.0,3,0,0,0
4,56,1,-1,0,1.1,93.994,-36.4,4.857,5191,0,...,1.0,0.0,0.0,0.0,1.0,0.0,5,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,1,-1,0,-1.1,94.767,-50.8,1.028,4964,1,...,0.0,0.0,0.0,0.0,1.0,0.0,6,0,1,0
41184,46,1,-1,0,-1.1,94.767,-50.8,1.028,4964,0,...,0.0,0.0,0.0,0.0,1.0,0.0,6,0,0,0
41185,56,2,-1,0,-1.1,94.767,-50.8,1.028,4964,0,...,0.0,0.0,0.0,0.0,1.0,0.0,7,0,1,0
41186,44,1,-1,0,-1.1,94.767,-50.8,1.028,4964,1,...,0.0,0.0,0.0,0.0,1.0,0.0,6,0,0,0
41187,74,3,-1,1,-1.1,94.767,-50.8,1.028,4964,0,...,0.0,0.0,0.0,0.0,0.0,0.0,6,0,1,0

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 44 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   age                   41188 non-null  int64
 1   campaign              41188 non-null  int64
 2   pdays                 41188 non-null  int64
 3   previous              41188 non-null  int64
 4   emp.var.rate          41188 non-null  float64
 5   cons.price.idx        41188 non-null  float64
 6   cons.conf.idx         41188 non-null  float64
 7   euribor3m             41188 non-null  float64
 8   nr.employed           41188 non-null  int64
 9   y                     41188 non-null  int64
 10  job_blue-collar       41188 non-null  float64
 11  job_entrepreneur      41188 non-null  float64
 12  job_housemaid         41188 non-null  float64
 13  job_management        41188 non-null  float64
 14  job_retired           41188 non-null  float64
 15  job_self-employed     41188 non-null  float64
 16  job_services          41188 non-null  float64
 17  job_student           41188 non-null  float64
 18  job_technician        41188 non-null  float64
 19  job_unemployed        41188 non-null  float64
 20  job_unknown           41188 non-null  float64
 21  marital_married       41188 non-null  float64
 22  marital_single        41188 non-null  float64
 23  marital_unknown       41188 non-null  float64
 24  contact_telephone     41188 non-null  float64
 25  month_aug             41188 non-null  float64
 26  month_dec             41188 non-null  float64
 27  month_jul             41188 non-null  float64
 28  month_jun             41188 non-null  float64
 29  month_mar             41188 non-null  float64
 30  month_may             41188 non-null  float64
 31  month_nov             41188 non-null  float64
 32  month_oct             41188 non-null  float64
 33  month_sep             41188 non-null  float64
 34  day_of_week_mon       41188 non-null  float64
 35  day_of_week_thu       41188 non-null  float64
 36  day_of_week_tue       41188 non-null  float64
 37  day_of_week_wed       41188 non-null  float64
 38  poutcome_nonexistent  41188 non-null  float64
 39  poutcome_success      41188 non-null  float64
 40  education_encoded     41188 non-null  int64
 41  default_encoded       41188 non-null  int64
 42  housing_encoded       41188 non-null  int64
 43  loan_encoded          41188 non-null  int64
dtypes: float64(34), int64(10)
memory usage: 13.8 MB

### Feautre Selection:

In [21]:
from sklearn.pipeline import Pipeline
from sklearn.linear_model import Lasso
from sklearn.feature_selection import SelectFromModel
from sklearn.svm import LinearSVR
from sklearn.ensemble import GradientBoostingRegressor, RandomForestRegressor
from sklearn.linear_model import Ridge
from xgboost import XGBRegressor

In [23]:
# Define your feature set (X) and target variable (y)
X = df.drop('y', axis=1)  # Replace 'Price' with the name of your target column
y = df['y']  # Replace 'Price' with the name of your target column

# Lasso Regression: Lasso is a linear model that applies L1 regularization to select important features
lasso = Lasso(alpha=0.01).fit(X, y)  # Fit Lasso model with alpha as regularization strength
lasso_selected = (np.abs(lasso.coef_) > 0).astype(int)  # Select non-zero coefficients

# Gradient Boosting Regressor: This model provides feature importances based on decision trees
gb = GradientBoostingRegressor().fit(X, y)  # Fit Gradient Boosting Regressor model
gb_selected = (gb.feature_importances_ > 0).astype(int)  # Select features with positive importances

# Random Forest Regressor: This model also provides feature importances
rf = RandomForestRegressor().fit(X, y)  # Fit Random Forest model
rf_selected = (rf.feature_importances_ > 0).astype(int)  # Select features with positive importances

# Ridge Regression: Ridge is a linear model that applies L2 regularization, similar to Lasso but with no sparsity
ridge = Ridge(alpha=0.01).fit(X, y)  # Fit Ridge model with alpha as regularization strength
ridge_selected = (np.abs(ridge.coef_) > 0).astype(int)  # Select non-zero coefficients

# XGBoost Regressor: This model provides feature importances based on gradient boosting
xgb = XGBRegressor().fit(X, y)  # Fit XGBoost model
xgb_selected = (xgb.feature_importances_ > 0).astype(int)  # Select features with positive importances

# Ensure all selection arrays are the same length as the number of features
num_features = X.shape[1]

# Create a DataFrame to store results
# The columns indicate if a feature is selected (1) or not (0) by each model
selection_df = pd.DataFrame({
    'Feature': X.columns,  # Column names for the features
    'Lasso': lasso_selected,  # Selection results from Lasso
    'GradientBoost': gb_selected,  # Selection results from Gradient Boosting
    'RandomForest': rf_selected,  # Selection results from Random Forest
    'Ridge': ridge_selected,  # Selection results from Ridge
    'XGBoost': xgb_selected  # Selection results from XGBoost
})

# Sum the number of selections for each feature across all models
selection_df['Sum'] = selection_df[['Lasso', 'GradientBoost', 'RandomForest', 'Ridge', 'XGBoost']].sum(axis=1)

# Output the results
# The DataFrame now includes the selection result of each feature and the total count of selections

In [25]:
selection_df

,Feature,Lasso,GradientBoost,RandomForest,Ridge,XGBoost,Sum
0,age,1,1,1,1,1,5
1,campaign,1,1,1,1,1,5
2,pdays,1,1,1,1,1,5
3,previous,0,1,1,1,1,4
4,emp.var.rate,0,1,1,1,1,4
5,cons.price.idx,0,1,1,1,1,4
6,cons.conf.idx,1,1,1,1,1,5
7,euribor3m,0,1,1,1,1,4
8,nr.employed,1,1,1,1,1,5
9,job_blue-collar,0,1,1,1,1,4
10,job_entrepreneur,0,0,1,1,1,3
11,job_housemaid,0,0,1,1,1,3
12,job_management,0,1,1,1,1,4
13,job_retired,0,0,1,1,1,3
14,job_self-employed,0,1,1,1,1,4
15,job_services,0,1,1,1,1,4
16,job_student,0,1,1,1,1,4
17,job_technician,0,1,1,1,1,4
18,job_unemployed,0,1,1,1,1,4
19,job_unknown,0,1,1,1,1,4
20,marital_married,0,1,1,1,1,4
21,marital_single,0,1,1,1,1,4
22,marital_unknown,0,1,1,1,1,4
23,contact_telephone,0,1,1,1,1,4
24,month_aug,0,1,1,1,1,4
25,month_dec,0,1,1,1,1,4
26,month_jul,0,1,1,1,1,4
27,month_jun,0,1,1,1,1,4
28,month_mar,0,1,1,1,1,4
29,month_may,1,1,1,1,1,5
30,month_nov,0,0,1,1,1,3
31,month_oct,0,1,1,1,1,4
32,month_sep,0,1,1,1,1,4
33,day_of_week_mon,0,1,1,1,1,4
34,day_of_week_thu,0,1,1,1,1,4
35,day_of_week_tue,0,1,1,1,1,4
36,day_of_week_wed,0,1,1,1,1,4
37,poutcome_nonexistent,0,1,1,1,0,3
38,poutcome_success,0,1,1,1,1,4
39,education_encoded,1,1,1,1,1,5
40,default_encoded,0,1,1,1,1,4
41,housing_encoded,0,1,1,1,1,4
42,loan_encoded,0,0,1,1,1,3

In [33]:
selection_df['Sum'].value_counts()

Sum
4    30
5     7
3     6
Name: count, dtype: int64

#### It seems like Lasso was the only one who didn't give a point to the 4 scored features.
##### Given that Lasso is more rigid in feature selection due to its regularization, it might be better to rely on Random Forest and XGBoost, which tend to give more nuanced feature importance in classification tasks. 
##### As a result I will remove the 3 scored features from the DataFrame.

In [43]:
# Filter the selection_df to only include rows where the 'Sum' is less than 5
filtered_df = selection_df[selection_df['Sum'] < 4]

# Output the filtered DataFrame
filtered_df

,Feature,Lasso,GradientBoost,RandomForest,Ridge,XGBoost,Sum
10,job_entrepreneur,0,0,1,1,1,3
11,job_housemaid,0,0,1,1,1,3
13,job_retired,0,0,1,1,1,3
30,month_nov,0,0,1,1,1,3
37,poutcome_nonexistent,0,1,1,1,0,3
42,loan_encoded,0,0,1,1,1,3

In [45]:
df = df.drop(['job_entrepreneur','job_housemaid','job_retired','month_nov','poutcome_nonexistent','loan_encoded'], axis=1)

In [47]:
df.to_pickle(r"C:\Users\Almog\Desktop\Data Science\Projects\Bank Marketing Project\Feature_Selection_bm.pkl")